<div class="container v-height">
	<div class="row my-5">
		<!-- Cocktail Image -->
		<div class="col-12 col-lg-6 text-center">
			<% if @cocktail.photo.attached? %>
				<div class="card-cocktail-img mx-auto mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(@cocktail.photo.key) %>)">
				</div>
			<% elsif @cocktail.thumb_url %>
				<div class="card-cocktail-img mx-auto mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path(@cocktail.thumb_url) %>)">
				</div>
			<% else %>
				<div class="card-cocktail-img mx-auto mb-4 bg-gray">
				</div>
			<% end %>
			<button type="button" class="btn btn-edit mb-5" data-toggle="modal" data-target="#photoModal">
				Edit photo
			</button>
			<%= render 'shared/add-photo-modal' %>
		</div>
		<!-- Cocktail Description -->
		<div class="col-12 col-lg-6">
			<!-- Cocktail Name -->
			<h1 class="text-center mb-3"><%= @cocktail.name %></h1>
			<!-- Doses -->
			<div class="d-flex justify-content-between align-items-end mb-3 heading">
				<h3 class="mb-0">Doses</h3>
				<button type="button" class="btn btn-add" data-toggle="modal" data-target="#doseModal">
          			Add dose
        		</button>
				<%= render 'shared/add-dose-modal'%>
			</div>
			<ul class="card-table mb-3">
				<% @cocktail.doses.each do |dose| %>
					<li class="d-flex justify-content-between align-items-center">
						<p class="my-2"><strong><%= dose.description %></strong> <%= dose.ingredient.name %></p>
						<%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure you want to delete" } do %>
							<i class="far fa-trash-alt"></i>
						<% end %>
					</li>
				<% end %>
			</ul>
			<!-- Preparation -->
			<div class="mb-4">
				<div class="d-flex justify-content-between align-items-end mb-3 heading">
					<h3 class="mb-0">Preparation</h3>
					<button type="button" class="btn btn-edit" data-toggle="modal" data-target="#prepModal">
						Edit prep
					</button>
					<%= render 'shared/add-prep-modal' %>
				</div>
				<p><%= @cocktail.instruction %></p>
			</div>
			<!-- Tags -->
			<div class="d-flex justify-content-between align-items-end mb-3 heading">
				<h3 class="mb-0">Tags</h3>
				<button type="button" class="btn btn-edit" data-toggle="modal" data-target="#tagModal">
					Edit tags
				</button>
				<%= render 'shared/add-tag-modal' %>
			</div>
			<div class="row mb-3">
				<div class="col-3">
					<ul class="mb-3">
						<li><p class="font-weight-bold">Category</p></li>
						<li><p class="font-weight-bold">Alcoholic</p></li>
						<li><p class="font-weight-bold">Glass</p></li>
					</ul>
				</div>
				<div class="col-9">
					<ul class="mb-3">
						<li><p><%= @cocktail.category %></p></li>
						<li><p><%= @cocktail.alcoholic %></p></li>
						<li><p><%= @cocktail.glass %></p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<%#= link_to "Back to cocktail's list", root_path, :class => "btn btn-outline-dark" %>
</div>
