<div class="container b">
	<div class="row my-5">
		<div class="col-12 col-lg-6">
				<% if @cocktail.photo.attached? %>
					<div class="card-cocktail-img mx-auto mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(@cocktail.photo.key) %>)">
					</div>
				<% else %>
					<div class="card-cocktail-img mx-auto mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path(@cocktail.thumb_url) %>)">
					</div>
				<% end %>
		</div>
		<div class="col-12 col-lg-6">
			<h1 class="text-center mb-3"><%= @cocktail.name %></h1>
			<div class="d-flex justify-content-between align-items-end mb-3">
				<h3 class="mb-0">Doses</h3>
				<%= link_to new_cocktail_dose_path(@cocktail), :class => "btn btn-outline-add" do %>
					<i class="fas fa-plus"></i>
				<% end %>
			</div>
			<ul class="card-table mb-5">
				<% @cocktail.doses.each do |dose| %>
					<li class="d-flex justify-content-between align-items-center">
						<p class="my-2"><strong><%= dose.description %></strong> of <%= dose.ingredient.name %></p>
						<%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure you want to delete" } do %>
							<i class="far fa-trash-alt"></i>
						<% end %>
					</li>
				<% end %>
			</ul>
			<div class="mb-5">
				<h3>Preparation</h3>
				<p><%= @cocktail.instruction %></p>
			</div>
			<div class="d-flex">
				<div class="mr-5">
					<p><strong>Category</strong></p>
					<p><strong>Alcoholic</strong></p>
					<p><strong>Glass</strong></p>
				</div>
				<div>
					<p><%= @cocktail.category %></p>
					<p><%= @cocktail.alcoholic %></p>
					<p><%= @cocktail.glass %></p>
				</div>
			</div>
		</div>
	</div>
	<%#= link_to "Back to cocktail's list", root_path, :class => "btn btn-outline-dark" %>
</div>
